<header>
  <div class="container">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">
            Daily Yoga
          </a>
        </div>
        <div class="navbar-collapse collapse" ng-class="{true: 'in'}[isCollapsed]">
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{ active: isActive('/')}"><a href='#/' ng-click="isCollapsed = !isCollapsed">DOWNLOAD</a></li>
            <li ng-class="{ active: isActive('/exercises')}"><a href='#/exercises' ng-click="isCollapsed = !isCollapsed">EXERCISES</a></li>
            <li ng-class="{ active: isActive('/about')}"><a href='#/about' ng-click="isCollapsed = !isCollapsed">ABOUT</a></li>
            <li ng-class="{ active: isActive('/contact')}"><a href='#/contact' ng-click="isCollapsed = !isCollapsed">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
