<header>
  <div class="container">
    <nav class="navbar navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://www.dailyyoga.com/">
            Daily Yoga
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href='#/'>DOWNLOAD</a></li>
            <li><a href='#/exercises'>EXERCISES</a></li>
            <li><a href='#/about'>ABOUT</a></li>
            <li><a href='#/contact'>CONTACT</a></li>
            <li><a href='http://www.dailyyoga.com.cn/' target="_blank">中文版</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>