#content > .container > h1 {
  color: #43baef;
  text-align: center;
}
#about .page-head {
  background: url(../../assets/images/about-bg.png) no-repeat top center;;
}
#about_nav {
  margin: 40px 0;
  text-align: center;
}

#about_nav a {
  min-width: 150px;
}

#instructors,
.instructors .content,
.instructors > div {
  text-align: center;
}
#about h1 {
  font-size: 40px;
  margin: 40px 0;
  color: #43baef;
}
#about .instructors h4 {
  font-size: 20px;
  color: #43baef;
}
#about .content h2 {
  font-size: 36px;
  margin: 40px 0 20px;
}
#about .content p {
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 30px;
}
#policy,
#tos {
  margin-bottom: 50px;
  line-height: 25px;
}
