#contact {
  padding-bottom: 100px;
}
#contact .page-head {
  background: url(../../assets/images/contact-bg.png) no-repeat top center;;
}
#contact h1 {
  font-size: 40px;
  margin: 100px 0;
  color: #43baef;
  text-align: center;
}
#contact ul {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
}
#contact ul > li a {
  color: #ff6e1f;
}
