footinfo {
  color: #fff;
  text-align: center;
}
footinfo h3 {
  padding: 40px 0;
  font-size: 18px;
}
footinfo h3,
footinfo ul,
footinfo p {
  margin: 0;
}
footinfo ul > li {
  margin: 0 20px;
}

footinfo p {
  margin: 50px 20% 0;
  border-top: 1px solid #41708e;
  padding:30px 0;
  line-height: 1.5;
}

footinfo .links {
  background-color: #43baef;
}
footinfo .about {
  padding-top: 30px;
  background: url(../assets/images/footer-waistline.png) no-repeat top center #20577a;
}
