<section class="part part1">
  <div class="container">
    <div class="feature-image"></div>
    <div class="big-title"></div>
    <div class="btns">
      <a ng-click="goDownload()" class="btn btn-primary btn-lg">Download</a>
      <a ng-click="goFreatures()" class="btn btn-outline-inverse btn-lg">Features</a>
    </div>
  </div>
</section>
<section class="part part2" id="download">
  <div class="container">
    <div class="big-title">
      <img src="assets/images/part2-title.png">
    </div>
    <div class="row">
      <div class="col-sm-6 text-center">
         <img src="assets/images/part2-bg.png">
      </div>
      <div class="col-sm-6">
        <div class="dowload-panel">
          <div class="btns">
            <a id="download_ios" target="_blank" class="btn btn-primary btn-lg" href="http://app.appsflyer.com/id545849922?pid=kelly&c=post">Download for iOS</a><br>
            <a id="download_android" target="_blank" class="btn btn-primary btn-lg" href="http://app.appsflyer.com/com.dailyyoga.inc?pid=kelly&c=post">Download for Android</a>
          </div>
          <img class="visible-lg" src="assets/images/qrcode-160x160.png" alt="qrcode">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="part part3" id="freatures">
  <div class="container">
    <div class="big-title">
      <img src="assets/images/part3-title.png">
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/images/play-icon.png">
        <h4>Yoga Classes</h4>
All shown in beautiful HD video. More than 400 poses to guard your health.
      </div>
      <div class="col-sm-4">
        <img src="assets/images/program-icon.png">
        <h4>Scheduled Plans</h4>
Designed by professional yoga instructors of 10 years' experience. Stick to the plan and reach your goal!
      </div>
      <div class="col-sm-4">
        <img src="assets/images/music-icon.png">
        <h4>Relaxing Music</h4>
Soothing melodies for de-stress. Set BGM to be your better self.
      </div>
    </div>
  </div>
</section>
<section class="part part4">
  <div class="container">
    <div class="big-title">
      <img src="assets/images/part4-title.png">
    </div>
    <div class="row video">
      <div class="col-xs-12">
      <img src="assets/images/part4-video.png">
      <img src="assets/images/beautiful-hd-videos.png">
      </div>
    </div>
    <div class="row charts">
      <div class="col-xs-12">
      <img src="assets/images/part4-charts.png">
      <img src="assets/images/health-data-log.png">
      </div>
    </div>
    <div class="row topic">
      <div class="col-xs-12">
      <img src="assets/images/part4-topic.png">
      <img src="assets/images/global-community.png">
      </div>
    </div>
  </div>
</section>
